<app-common-accordion [index]="pageIndex" [canDelete]="true" (deleteEvent)="deletePage.emit()">
  <div class="page-content">
    @if (page.questions.length) {
      <app-question
        [questions]="page.questions"
        [pageIndex]="pageArrayIndex"
        [page]="page"
        (questionsChange)="updateQuestions($event)"
        (addSectionPage)="addSectionPage()"
      ></app-question>
    }
    @if (page.sections.length) {
      <app-section
        [sections]="page.sections"
        [pageIndex]="pageArrayIndex"
        [page]="page"
        (sectionsChange)="updateSections($event)"
      >
      </app-section>
    }
  </div>
</app-common-accordion>
